/* This stylesheet creates a fixed full screen background image of a western like cow image */
body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url("../imgs/PhotoFunia-1763751617.jpg") !important;
  background-attachment: fixed;  /* keeps background still */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
