body,html{
  height: 100%;
}

.bg {
  background-image: url("../imgs/PhotoFunia-1763751617.jpg") !important;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}